@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/galaxy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0) perspective(400px) rotateX(0); /* Bounce at the top */
	}
	40% {
	  transform: translateY(-10px) perspective(400px) rotateX(-10deg); /* Bounce up */
	}
	60% {
	  transform: translateY(-5px) perspective(400px) rotateX(5deg); /* Bounce down */
	}
  }

.bounce {
  animation: bounce 0.82s ease-in-out 0.2s; /* Adjust duration here */
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}